@page "/"

<div class="jumbotron-fluid">
    <h2>Windows Terminal Configuration</h2>
    <EditForm Model="ViewModel">
        <fieldset>
            <label for="fileName" 5>Filename</label>
            <InputText class="form-control form-control-sm small" id="fileName" @bind-Value="ViewModel.Filename" />

            <MonacoEditor @ref="Editor" Model="@_editorModel" Width="500" Height="500" />
        </fieldset>
    </EditForm>
</div>
